<h1>Hunchos Preisliste</h1>
<div id="main">
        <h2>LNV PREISLISTE - v1.3 N - HUNCHO EDITION</h2>


        <input type="radio" id="normal" name="drone">
        <label for="normal">&nbsp;Shop Fahrzeuge</label>
        <br>



        <input type="radio" id="import" name="drone">
        <label for="import">&nbsp;Import Fahrzeuge</label>
        <br>


        <input type="radio" id="quad_motorrad" name="drone">
        <label for="quad_motorrad">&nbsp;Motorräder | Fahrräder</label>
        <br>


        <input type="radio" id="heli" name="drone">
        <label for="heli">&nbsp;Helikopter | Flugzeuge | Boote </label>
        <br>
        
        <br>
        <!-- <div class="col-6"> -->
        <div id="extra">
            <label for="frak">Zuordnung:</label>
            <select name="frak" id="frak" onchange="Frakswitch(this);">
                <!-- HIER BEARBEITEN -->
                <option value="Zivilist">Zivilist</option>
                <option value="VIP Zivi">VIP Zivi</option>

                <option value="">----------------</option>

                <option value="MD">MD</option>
                <option value="PD">PD</option>
                <option value="FIB">FIB</option>
                <option value="SD">SD</option>
                <option value="US Army">US Army</option>
                <option value="US Marshalls">US Marshalls</option>
                <option value="">----------------</option>

                <option value="Bennys">Bennys</option>
                <option value="Black Angels">Black Angels</option>
                <option value="Mechaniker">Mechaniker</option>
                <option value="Peddaparker Cabs">Peddaparker Cabs</option>
                <option value="PersonenSchutz GmbH">PersonenSchutz GmbH</option>

                <option value="">----------------</option>
                <!-- <option value="AK 47">AK 47</option> -->
                <!-- <option value="Angels of Death">Angels of Death</option> -->
                <option value="Ayaz NightClub">Ayaz NightClub</option>
                <option value="Black Kartell">Black Kartell</option>
                <option value="Black Lions">Black Lions</option>
                <!-- <option value="Bratwa">Bratwa</option> -->
                <option value="Brigada">Brigada</option>
                <!-- <option value="Cali Cartel">Cali Cartel</option> -->
                <option value="Cukur">Cukur</option>
                <option value="La Cosa Nostra">La Cosa Nostra</option>
                <!-- <option value="La Camorra">La Camorra</option> -->
                <!-- <option value="Lakers">Lakers</option> -->
                <option value="Medelin">Medelin Kartel</option>
                <option value="Milenio">Cartel del Milenio</option>
                <!-- <option value="Nuestra Familia">Nuestra Familia</option> -->
                <!-- <option value="Osmanen">Osmanen</option> -->
                <option value="Organisazia">Organisazia</option>
                <!--<option value="Pantherophis">Pantherophis</option> -->
                <!-- <option value="Saints">Saints</option> -->
                <!-- <option value="San Fierro Rifa">San Fierro Rifa</option> -->
                <!-- <option value="SCU">SCU</option> -->
                <!-- <option value="Shelbys">Shelbys</option> -->
                <!-- <option value="Santa Sofia Kartell">Santa Sofia Kartell</option> -->
                <!-- <option value="Santa Rose De Lima">Santa Rose De Lima</option> -->
                <!-- <option value="SifirBir">SifirBir</option> -->
                <option value="Valerio">Valerio</option>
                <!-- <option value="West Side Venice 13">West Side Venice 13</option> -->
                <!-- <option value="Yakuza">Yakuza</option> -->


                <option value="">----------------</option>

                <!-- <option value="BrotherHood Mc">BrotherHood Mc</option> -->
                <!-- <option value="Lost MC">Lost MC</option> -->
                <!-- <option value="Living Legends MC">Living Legends MC</option> -->
                <option value="Sons of Anarchy">Sons of Anarchy</option>
                <option value="Underdogs MC">Underdogs MC</option>
                <option value="Tokyo Manji">Tokyo Manji</option>

                <option value="">----------------</option>

                <option value="Aztekas">Aztekas</option>
                <option value="Ballas">Ballas</option>
                <!-- <option value="Black Discples">Black Discples</option> -->
                <!-- <option value="Crips">Crips</option> -->
                <option value="Grove">Grove</option>
                <!-- <option value="Nine Trey Bloods 93">Nine Trey Bloods 93</option> -->
                <option value="MG13">MG13</option>
                <!--<option value="Rednecks">Rednecks</option> -->
                <option value="The Nameless">The Nameless</option>
                <!-- <option value="Wu tang Clan">Wu Tang Clan</option> -->
                <!-- <option value="Vagos">Vagos</option> -->

            </select>
        </div>
        <!-- <br>
            <br>
            <br>
            <br> -->
        <div id="nextra">
            <text id="primary">Primärfarbe</text><br>
            <text id="secondary">Sekundärfarbe</text><br>
            <text id="pearl">Perleffekt</text><br>
            <text id="unten">Unterbodenbeleuchtung</text><br>
            <text id="wheels">Reifenrauch</text><br>
            <script>
                // var currentVal2 = document.getElementById("frak").value
                function Frakswitch(sel) {
                    // alert(sel.options[sel.selectedIndex].text);
                    var frak = sel.options[sel.selectedIndex].text;
                    switch (frak) {
                        default:
                            document.getElementById("primary").innerText = "Primär: "
                            document.getElementById("secondary").innerText = "Sekundär: "
                            document.getElementById("pearl").innerText = "Perleffekt: "
                            document.getElementById("unten").innerText = "Unterboden: "
                            document.getElementById("wheels").innerText = "Reifenqualm: "
                            break;
                            // HIER BEARBEITEN	
                        case "MG13":
                            document.getElementById("primary").innerText = "Primär: Himmelblau"
                            document.getElementById("secondary").innerText = "Sekundär: Himmelblau"
                            document.getElementById("pearl").innerText = "Perleffekt: Aquamarine"
                            document.getElementById("unten").innerText = "Unterboden: Blue"
                            document.getElementById("wheels").innerText = "Reifenqualm:  Blue"
                            break;

                        case "Aztekas":
                            document.getElementById("primary").innerText = "Primär: Kaugummi Blau"
                            document.getElementById("secondary").innerText = "Sekundär: Kaugummi Blau"
                            document.getElementById("pearl").innerText = "Perleffekt: Alabasta Weiß"
                            document.getElementById("unten").innerText = "Unterboden: Weiß"
                            document.getElementById("wheels").innerText = "Reifenqualm:  "
                            break;

                        case "Nine Trey Bloods 93":
                            document.getElementById("primary").innerText = "Primär: Matt Rot"
                            document.getElementById("secondary").innerText = "Sekundär: Matt Rot"
                            document.getElementById("pearl").innerText = "Perleffekt: Brilliantrot"
                            document.getElementById("unten").innerText = "Unterboden: Rot"
                            document.getElementById("wheels").innerText = "Reifenqualm: Rot"
                            break;

                        case "Black Angels":
                            document.getElementById("primary").innerText = "Primär: Schwarz"
                            document.getElementById("secondary").innerText = "Sekundär: Schwarz"
                            document.getElementById("pearl").innerText = "Perleffekt: Himmelblau"
                            document.getElementById("unten").innerText = "Unterboden: Skyblue"
                            document.getElementById("wheels").innerText = "Reifenqualm: Skyblue"
                            break;

                        case "Tokyo Manji":
                            document.getElementById("primary").innerText = "Primär: Pures Gold"
                            document.getElementById("secondary").innerText = "Sekundär: Alabasta Weiß"
                            document.getElementById("pearl").innerText = "Perleffekt: Helles Gold"
                            document.getElementById("unten").innerText = "Unterboden: Rot"
                            document.getElementById("wheels").innerText = "Reifenqualm: Rot"
                            break;

                        case "Wu Tang Clan":
                            document.getElementById("primary").innerText = "Primär: Matt Schwarz"
                            document.getElementById("secondary").innerText = "Sekundär: Matt Schwarz"
                            document.getElementById("pearl").innerText = "Perleffekt: "
                            document.getElementById("unten").innerText = "Unterboden: Renngelb"
                            document.getElementById("wheels").innerText = "Reifenqualm: Renngelb"
                            break;

                        case "Osmanen":
                            document.getElementById("primary").innerText = "Primär: Matt Schwarz"
                            document.getElementById("secondary").innerText = "Sekundär: Matt Schwarz"
                            document.getElementById("pearl").innerText = "Perleffekt: Torino Rot"
                            document.getElementById("unten").innerText = "Unterboden: Rot"
                            document.getElementById("wheels").innerText = "Reifenqualm: Rot"
                            break;

                        case "Brigada":
                            document.getElementById("primary").innerText = "Primär: Carbon Schwarz"
                            document.getElementById("secondary").innerText = "Sekundär: Carbon Schwarz"
                            document.getElementById("pearl").innerText = "Perleffekt: Diamantblau"
                            document.getElementById("unten").innerText = "Unterboden: Schwarz/Dunkel Grau"
                            document.getElementById("wheels").innerText = "Reifenqualm: Weiß"
                            break;

                        case "The Nameless":
                            document.getElementById("primary").innerText = "Primär: Topaz (Blau)"
                            document.getElementById("secondary").innerText = "Sekundär: Topaz (Blau)"
                            document.getElementById("pearl").innerText = "Perleffekt: Limonengrün"
                            document.getElementById("unten").innerText = "Unterboden: Mintgrün"
                            document.getElementById("wheels").innerText = "Reifenqualm: "
                            break;

                        case "Cartel del Milenio":
                            document.getElementById("primary").innerText = "Primär: Polarweiß"
                            document.getElementById("secondary").innerText = "Sekundär: Polarweiß"
                            document.getElementById("pearl").innerText = "Perleffekt: Orange Lambo"
                            document.getElementById("unten").innerText = "Unterboden: Orange"
                            document.getElementById("wheels").innerText = "Reifenqualm: Orange"
                            break;

                        case "Cukur":
                            document.getElementById("primary").innerText = "Primär: Wein Rot"
                            document.getElementById("secondary").innerText = "Sekundär: "
                            document.getElementById("pearl").innerText = "Perleffekt: Bonbon Rot"
                            document.getElementById("unten").innerText = "Unterboden: Rot"
                            document.getElementById("wheels").innerText = "Reifenqualm: "
                            break;

                        case "Medelin Kartel":
                            document.getElementById("primary").innerText = "Primär: Dunkle Erde"
                            document.getElementById("secondary").innerText = "Sekundär: Dunkle Erde"
                            document.getElementById("pearl").innerText = "Perleffekt: Chrom"
                            document.getElementById("unten").innerText = "Unterboden: Weiß"
                            document.getElementById("wheels").innerText = "Reifenqualm: "
                            break;

                        case "Valerio":
                            document.getElementById("primary").innerText = "Primär: Matt grau"
                            document.getElementById("secondary").innerText = "Sekundär: "
                            document.getElementById("pearl").innerText = "Perleffekt: Ralley Blue"
                            document.getElementById("unten").innerText = "Unterboden: "
                            document.getElementById("wheels").innerText = "Reifenqualm: Dunkelblau (Optional)"
                            break;

                        case "La Cosa Nostra":
                            document.getElementById("primary").innerText = "Primär: Matt Schwarz"
                            document.getElementById("secondary").innerText = "Sekundär: Matt Schwarz"
                            document.getElementById("pearl").innerText = "Perleffekt: Alabaster Weiß"
                            document.getElementById("unten").innerText = "Unterboden: Weiß"
                            document.getElementById("wheels").innerText = "Reifenqualm: "
                            break;

                        case "Black Lions":
                            document.getElementById("primary").innerText = "Primär: Beige"
                            document.getElementById("secondary").innerText = "Sekundär: Helles Orange"
                            document.getElementById("pearl").innerText = "Perleffekt: Helles Orange"
                            document.getElementById("unten").innerText = "Unterboden: Orange"
                            document.getElementById("wheels").innerText = "Reifenqualm: Orange"
                            break;

                        case "Living Legends MC":
                            document.getElementById("primary").innerText = "Primär: Beige"
                            document.getElementById("secondary").innerText = "Sekundär: Schwarz"
                            document.getElementById("pearl").innerText = "Perleffekt: Helles Orange"
                            document.getElementById("unten").innerText = "Unterboden: Orange"
                            document.getElementById("wheels").innerText = "Reifenqualm: Orange"
                            break;

                        case "Sons of Anarchy":
                            document.getElementById("primary").innerText = "Primär: Matt Schwarz"
                            document.getElementById("secondary").innerText = "Sekundär: Matt Schwarz"
                            document.getElementById("pearl").innerText = "Perleffekt: Kaugummi (Blau)"
                            document.getElementById("unten").innerText = "Unterboden: Light Blue"
                            document.getElementById("wheels").innerText = "Reifenqualm: Light Blue"
                            break;

                        case "Grove":
                            document.getElementById("primary").innerText = "Primär: Rasengrün"
                            document.getElementById("secondary").innerText = "Sekundär: Rasengrün"
                            document.getElementById("pearl").innerText = "Perleffekt: Helles Gold"
                            document.getElementById("unten").innerText = "Unterboden: Lime Green"
                            document.getElementById("wheels").innerText = "Reifenqualm: Lime Green"
                            break;
                        case "Organisazia":
                            document.getElementById("primary").innerText = "Primär: Creme Weiß"
                            document.getElementById("secondary").innerText = "Sekundär: Creme Weiß"
                            document.getElementById("pearl").innerText = "Perleffekt: Alabaster Weiß"
                            document.getElementById("unten").innerText = "Unterboden: "
                            document.getElementById("wheels").innerText = "Reifenqualm: "
                            break;
                        case "FIB":
                            document.getElementById("primary").innerText = "Primär: Laminierter Stahl/Matt-Schwarz"
                            document.getElementById("secondary").innerText = "Sekundär: "
                            document.getElementById("pearl").innerText = "Perleffekt: Alabaster Weiß/Matt-Schwarz"
                            document.getElementById("unten").innerText = "Unterboden: Keine"
                            document.getElementById("wheels").innerText = "Reifenqualm: Keinen"
                            break;
                        case "Bennys":
                            document.getElementById("primary").innerText = "Primär: Braun"
                            document.getElementById("secondary").innerText = "Sekundär: Braun"
                            document.getElementById("pearl").innerText = "Perleffekt: Helles Gold"
                            document.getElementById("unten").innerText = "Unterboden: Keine"
                            document.getElementById("wheels").innerText = "Reifenqualm: Keinen"
                            break;
                        case "Underdogs MC":
                            document.getElementById("primary").innerText = "Primär: Polarweiß"
                            document.getElementById("secondary").innerText = "Sekundär: Polarweiß"
                            document.getElementById("pearl").innerText = "Perleffekt: Torino Rot"
                            document.getElementById("unten").innerText = "Unterboden: "
                            document.getElementById("wheels").innerText = "Reifenqualm:  "
                            document.getElementById("wheels").innerText = "Reifenqualm:  "
                            break;

                    }
                }
            </script>
        </div>
        <!-- </div> -->
        <br><br>

        <hr>
        <link href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
        
        <h3>Upgrades</h3>




        <input type="checkbox" id="bremsen" name="bremsen">
        <label for="bremsen">&nbsp;Bremsen</label>
        <br>



        <input type="checkbox" id="federung" name="federung">
        <label for="federung">&nbsp;Federung</label>
        <br>



        <input type="checkbox" id="getriebe" name="getriebe">
        <label for="getriebe">&nbsp;Getriebe</label>
        <br>



        <input type="checkbox" id="motor" name="motor">
        <label for="motor">&nbsp;Motor</label>
        <br>



        <input type="checkbox" id="turbo" name="turbo">
        <label for="turbo">&nbsp;Turbo</label>
        <br>



        <input type="checkbox" id="fulltune" name="fulltune">
        <label for="fulltune">&nbsp;Fulltune (Bremsen, (Federung), Getriebe, Motor, Turbo)</label>
        <br>


        <input type="checkbox" id="panzerung" name="panzerung">
        <label for="panzerung">&nbsp;Panzerung</label>
        <br>

        <hr>

        <h3><a href="javascript:toggle('lowrider')" style="color:black;">Lowrider</a></h3>
        <div id="lowrider" style="display:none">
            <input type="checkbox" id="antennen" name="antennen">
            <label for="antennen">&nbsp;Antennen</label>
            <br>



            <input type="checkbox" id="bodenabdeckung" name="bodenabdeckung">
            <label for="bodenabdeckung">&nbsp;Bodenabdeckung</label>
            <br>




            <input type="checkbox" id="dashboards" name="dashboards">
            <label for="dashboards">&nbsp;Dashboards</label>
            <br>



            <input type="checkbox" id="deko" name="deko">
            <label for="deko">&nbsp;Dekoration</label>
            <br>


            <input type="checkbox" id="fenster" name="fenster">
            <label for="fenster">&nbsp;Fenster</label>
            <br>



            <input type="checkbox" id="hydraulik" name="hydraulik">
            <label for="hydraulik">&nbsp;Hydraulik</label>
            <br>



            <input type="checkbox" id="interieur" name="interieur">
            <label for="interieur">&nbsp;Interieur</label>
            <br>


            <input type="checkbox" id="kofferraum" name="kofferraum">
            <label for="kofferraum">&nbsp;Kofferraum</label>
            <br>


            <input type="checkbox" id="lautsprecher" name="lautsprecher">
            <label for="lautsprecher">&nbsp;Lautsprecher</label>
            <br>


            <input type="checkbox" id="lautsprecher_tuer" name="lautsprecher_tuer">
            <label for="lautsprecher_tuer">&nbsp;Lautsprecher Tür</label>
            <br>


            <input type="checkbox" id="lenkrad" name="lenkrad">
            <label for="lenkrad">&nbsp;Lenkrad</label>
            <br>


            <input type="checkbox" id="luftfilter" name="luftfilter">
            <label for="luftfilter">&nbsp;Luftfilter</label>
            <br>


            <input type="checkbox" id="motorblock" name="motorblock">
            <label for="motorblock">&nbsp;Motorblock</label>
            <br>


            <input type="checkbox" id="quarterdeck" name="quarterdeck">
            <label for="quarterdeck">&nbsp;Quarterdeck</label>
            <br>


            <input type="checkbox" id="schaltknueppel" name="schaltknueppel">
            <label for="schaltknueppel">&nbsp;Schaltknüppel</label>
            <br>


            <input type="checkbox" id="sitze" name="sitze">
            <label for="sitze">&nbsp;Sitze</label>
            <br>


            <input type="checkbox" id="streben" name="streben">
            <label for="streben">&nbsp;Streben</label>
            <br>


            <input type="checkbox" id="tacho" name="tacho">
            <label for="tacho">&nbsp;Tacho</label>
            <br>



            <input type="checkbox" id="tank" name="tank">
            <label for="tank">&nbsp;Tank</label>
            <br>

            <hr>
        </div>
        <h3>Bei fast jedem Fahrzeug möglich!</h3>

        <label for="fahrzeugteile">Fahrzeugteile (<span id="number">0</span>)</label>
        <button type="button" onClick="addPart();">+ 1</button>
        <button type="button" onClick="subPart();">- 1</button><br><br><br>


        <label for="felgen">Felgen</label>
        <select name="felgen" id="felgen">
            <option value="none">None</option>
            <option value="normale">Normal</option>
            <option value="import">Import</option>

        </select><br> <br>


        <input type="checkbox" id="reifenfarbe" name="reifenfarbe">
        <label for="reifenfarbe">&nbsp;Reifenfarbe</label>
        <br>


        <input type="checkbox" id="reifenqualm" name="reifenqualm">
        <label for="reifenqualm">&nbsp;Reifenqualm</label>
        <br><br>



        <input type="checkbox" id="prim" name="prim">
        <label for="prim">&nbsp;Lackierung Prim.</label>
        <br>


        <input type="checkbox" id="sek" name="sek">
        <label for="sek">&nbsp;Lackierung Sek.</label>
        <br>


        <input type="checkbox" id="perleffekt" name="perleffekt">
        <label for="perleffekt">&nbsp;Perleffekt</label>
        <br><br>


        <input type="checkbox" id="unterboden" name="unterboden">
        <label for="unterboden">&nbsp;Unterbodenbeleuchtung</label>
        <br>


        <input type="checkbox" id="fenstertönung" name="fenstertönung">
        <label for="fenstertönung">&nbsp;Fenstertönung</label>
        <br>


        <input type="checkbox" id="design" name="design">
        <label for="design">&nbsp;Sticker</label>
        <br>




        <input type="checkbox" id="hupen" name="hupen">
        <label for="hupen">&nbsp;Hupen</label>
        <br>


        <input type="checkbox" id="xenon" name="xenon">
        <label for="xenon">&nbsp;Xenon (WIRD DIREKT EINGEBAUT!!)</label>
        <br>


        <input type="checkbox" id="nummernschild" name="nummernschild">
        <label for="nummernschild">&nbsp;Nummernschild (Farbe)</label>
        <br>
        <hr><br>

        <input type="checkbox" id="kennzeichen5" name="kennzeichen5">
        <label for="kennzeichen5">&nbsp;Custom-Kennzeichen</label>
        <br>


        <hr><br>

        <input type="checkbox" id="rabatt10" name="rabatt10">
        <label for="rabatt10">&nbsp;VIP+: 20% Rabatt (VIP-Zivi) </label>
        <br>

        <input type="checkbox" id="rabatt20" name="rabatt20">
        <label for="rabatt20">&nbsp;VIP+: 30% Rabatt</label>
        <br>



        <input type="checkbox" id="rabatt30" name="rabatt30">
        <label for="rabatt30">&nbsp;VIP+: 40% Rabatt</label>
        <br>


        <hr>
        <br><br>
        <label for="name">Name des
            Kunden:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
        <input style="font-size: 10px" type="text" id="name" name="name" size="20"> <br><br>
        <label for="kn">Dienstnummer:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
        <input style="font-size: 10px" type="text" id="kn" name="kn" size="2"><br>




        <label for="rechnung">Rechnung für D-Funk:&nbsp;</label>
        <input type="checkbox" id="rechnung" name="rechnung"><br>


    </div>
    <div id="final-div">
        <span id="final">0</span>
    </div>
